.s-header {
  padding: 24px 32px;

  &__logo {
    display: block;
    margin: auto;
  }
}

.s-promo {
  padding: 96px 40px;
  background-image: url("../images/s-promo-bg.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 32px;
    color: #ffffff;
  }

  &__text {
    @extend .title--s;

    margin-top: 0;
    margin-bottom: 32px;

    font-weight: 500;
    color: #ffffff;
  }
}
